@import "../../styles/variables";
@import "../../styles/mixins";

.card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	width: 270px;
	height: 340px;
	background: $whiteColorBg;
	box-shadow: 1px 1px 8px 1px rgba(110, 33, 117, 0.25);
	padding: 16px;

	&__title {
		@include fontRoboto();
		font-style: normal;
		font-weight: 900;
		font-size: 17px;
		line-height: 20px;

		color: $colorTitle;
	}

	&__img {
		margin: 0 auto;
	}

	&__description {

	}

	&__sum {
		@include fontRoboto();
		font-style: normal;
		font-weight: 900;
		font-size: 15px;
		line-height: 18px;
		color: #6B1C55;
	}
}

.description {
	@include fontRoboto();
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 14px;
	color: $mainText;

	width: 100%;

	&__item {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}

}