@import "src/styles/variables";
@import "src/styles/mixins";


.app {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: $whiteColorBg;
}

.container {
  border: 2px solid red;
  width: 1170px;
  padding-top: 45px
}

@media screen and (max-width: 1169px) {
  .container {
    min-width: 768px;
    max-width: 768px;
    padding: 0 15px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    min-width: 320px;
    max-width: 320px;
  }
}
