@import "src/styles/variables";
@import "src/styles/mixins";

.arrivals {
	display: flex;
	flex-direction: column;
	margin-top: 84px;

	&__header {
		display: flex;
	}

	&__title {
		min-width: 280px;

		& h2 {
			margin: 0;
			padding: 0;
			@include sectionTitle();
		}
	}

	&__nav {
		display: flex;
		align-items: center;
		justify-content: space-around;
		width: 100%;
		margin-left: 98px;
	}

	&__slider {

	}

	&__sales {
		margin-top: 86px;
	}

}

.nav {
	@include fontRoboto();
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	line-height: 15px;
	max-width: 450px;

	color: $mainText;

	&__item {
		cursor: pointer;
		transition: 0.3s;
		&_active {
			position: relative;
			&::before {
				position: absolute;
				bottom: -5px;
				left: 0;
				content: '';
				width: 100%;
				height: 1px;
				background-color: #6B1C55;
			}
		}
	}
}

.slider {

	margin-top: 65px;

	&__content {
		display: flex;
		justify-content: space-between;
	}

	&__wrapItem {
		display: flex;
		justify-content: center;
		overflow: hidden;
	}

	&__btn {
		border: none;
		background-color: $whiteColorBg;
		cursor: pointer;
		padding: 0;
	}

	&__input {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 32px;

		& input {
			-webkit-appearance: none !important;
			width: 472px;
			height: 5px;
			background: #DDCBDE;

			&::-webkit-slider-thumb {
				-webkit-appearance: none !important;
				width: 50px;
				height: 10px;
				background: #A88FA1;
			}
		}

	}

	&__item {
		margin: 6px;
	}

}

.sales {
	display: flex;
	justify-content: space-between;
	overflow: hidden;

	&__item {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: end;
		width: 570px;
		height: 497px;
		z-index: 100;
		margin-right: 30px;
		&:last-child {
			margin-right: 0;
		}
	}

	&__content {
		position: relative;
	}

	&__img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
    z-index: -1;
		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(127.24deg, rgba(194, 131, 200, 0.528) 0%, rgba(131, 55, 114, 0.88) 100%);
		}
		& img {
			width: 100%;
			height: 100%;
		}
	}
}



.content {
	padding: 0 12px;

	&__title {
		@include fontRoboto();
		font-style: normal;
		font-weight: 900;
		font-size: 35px;
		line-height: 41px;
		color: #FFFFFF;
	}

	&__description {
		@include fontRoboto();
		font-style: normal;
		font-weight: 400;
		font-size: 15px;
		line-height: 18px;
		color: #F2F2F2;
		margin-top: 12px;
	}

	&__btn {
		display: flex;
		width: 100%;
		justify-content: end;
		margin: 12px 0 41px 0;
		& button {
			width: 170px;
			height: 32px;
			border: 1px solid #FFFFFF;
			@include fontRoboto();
			font-style: normal;
			font-weight: 500;
			font-size: 12px;
			line-height: 14px;
			background-color: rgba(255,255,255, 0.1);

			color: #FFFFFF;
		}
	}
}


@media screen and (max-width: 767px) {
	.arrivals {

		&__header {
			flex-wrap: wrap;
		}

		&__nav {
			margin-top: 35px;
			margin-left: 0;
		}
	}
}

@media screen and (max-width: 1169px) {
	.slider {

		&__btn {
			display: none;
		}

		&__content {

		}
	}
}

@media screen and (max-width: 1169px) {
	.sales {
		&__item {
			width: 370px;
			height: 462px;
			margin-right: 15px;
		}

		& img {
			//width: 370px;
			//height: 462px;
			object-fit: cover;
		}
	}
}


@media screen and (max-width: 767px) {
	.sales {

		&__item {
			width: 249px;
			height: 462px;
		}

		& img {
			object-fit: cover;
		}
	}
}