@import "src/styles/variables";
@import "src/styles/mixins";

.main {
	display: flex;
	justify-content: space-between;
	min-height: 435px;
	margin-top: 50px;

	&__block {
		display: flex;
		flex-direction: column;
		justify-content: center;
		max-width: 400px;
		min-height: 435px;
	}

	&__title {
		@include fontRoboto();
		font-style: normal;
		font-weight: 900;
		font-size: 36px;
		line-height: 42px;
		color: $colorTitle;
	}

	&__description {
		@include fontRoboto();
		font-style: normal;
		font-weight: 400;
		font-size: 15px;
		line-height: 15px;
		color: $mainText;
		max-width: 356px;
		margin-top: 37px;
	}

	&__wrapBtn {

		margin-top: 37px;

		& button {
			width: 192px;
			height: 59px;
			background: #F0416B;
			box-shadow: 0 4px 4px rgba(240, 65, 107, 0.27);
			border: none;
			@include fontRoboto();
			font-style: normal;
			font-weight: 900;
			font-size: 15px;
			line-height: 18px;
			color: #FFFFFF;
		}
	}
}

.slider {
	min-height: 435px;
	width: 100%;
	display: flex;
	justify-content: center;

	&__block {
		position: relative;
		z-index: 100;
	}

	&__imgWrap {
		display: block;
		& img {
			max-width: 512px;
			max-height: 367px;
		}
	}

	&__dotBg {
		position: absolute;
		top: -10px;
		left: -70px;
		z-index: -1;

		img {
			max-width: 444px;
			max-height: 299px;
		}
	}

	&__description {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 261px;
		height: 209px;
		z-index: -1;
	}
}

.description {
	display: flex;
	flex-direction: column;
	align-items: end;
	justify-content: end;
	background: rgba(107, 28, 85, 0.15);

	&__content {
		width: 160px;
		padding: 10px;
	}

	&__title {
		@include fontRoboto();
		font-style: normal;
		font-weight: 900;
		font-size: 13px;
		line-height: 15px;
		color: rgba(75, 24, 61, 0.7);
		margin: 0;
	}

	&__item {
		display: flex;
		justify-content: space-between;
		margin-top: 10px;

		@include fontRoboto();
		font-style: normal;
		font-weight: 400;
		font-size: 12px;
		line-height: 14px;
		color: rgba(75, 24, 61, 0.7);
	}
}

@media screen and (max-width: 1169px) {
	.main {
		flex-wrap: wrap;
		&__block {
			max-width: 100%;
		}
	}
}

@media screen and (max-width: 767px) {
	.main {
		max-width: 320px;
	}
	.slider {
		align-items: center;

		&__imgWrap {
			img {
				max-width: 320px;
				height: auto;
			}
		}
		&__dotBg {
			top: -25px;
			left: -15px;
			img {
				max-width: 320px;
				height: auto;
			}
		}
		&__description {
			width: 150px;
			height: 140px;
			top: 170px;
			right: 20px;
		}
	}
}
